body {
  position: relative;
  background-image: url("/Image/herospageBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* ทำให้พื้นหลังไม่เลื่อน */
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

body::after {
  content: '';
  position: fixed; /* ใช้ fixed ให้อยู่ในตำแหน่งเดียวกับพื้นหลัง */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* ทำให้พื้นหลังทึบ */
  z-index: -1; /* ให้อยู่หลังเนื้อหาหลัก */
}
