.pageContainer {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 2%;
}

.text {
  font-size: 12ch;
  line-height: 0.1;
}

.filter {
  border: 0.5cap solid #eac017;
  padding: 10px;
  margin: 1% 10%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.attributeContainer {
  display: flex;
  gap: 10px;
  font-size: 25px;
  margin-left: 20%;
} 

.attributeContainer img{
  margin-top: 10px;
  width: 60px;
  height: 60px;
} 

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 80px;
  margin: 0% 10%;
  padding-bottom: 20px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  align-items: center;
}

.content.fade-out {
  opacity: 0;
}

.bookmark {
  color: #eac017;
  font-size: 2rem;
  position: absolute;
  z-index: 1000;
  right: 10px;
}

.card {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  font-size: large;
  padding-bottom: 10;
  text-align: center;
  color: white;
  overflow: hidden;
  width: 270px;
  height: 200px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  position: relative;
}

.card:hover {
  background-color: rgb(21, 0, 79);
  transform: scale(1.2);
  z-index: 2;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  filter: grayscale(0.1) brightness(0.6);
}

.card img:hover {
  filter: grayscale(0) brightness(1);
}

.search{
  align-items: center;
  width: 80%;
  height: 60%;
  margin-top:15px ;
}

.search input{
  align-items: center;
  width: 80%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  color: aliceblue;
  font-size: 25px;
}

.search input::placeholder{
  color: rgba(240, 248, 255, 0.6);
}