.favorit {
  position: absolute;
  right: 4%;
  top: -10px;
}

.favorit .bookmark {
  color: #eac017;
  font-size: 7rem;
  position: relative;
}

.favorit .heart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.content {
  display: grid;
  color: antiquewhite;
  grid-template-columns: 1fr 1fr;
}

.heroImage img{
  margin: 10% 0%;
  width: 40vw;
  height: 45vh;
  object-fit: cover;
  border-radius: 8px;
}

.heroName{
  margin: 5% 20%;
  color: antiquewhite;
}

.name{
  margin-bottom:5%;
  margin-top: -30px;
  font-size: 72px;
}

.attribute{
  display: flex;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.attribute p{
  font-size: 36px;
  margin-left: 20px;
}

.attribute img{
  width: 50px;
  height:50px;
}


.buttonContainer {
  position: fixed;
  width: 100vw;
  top:85%;
  bottom: 0;
  display:flex;
  gap: 10px;
}

.buttonContainer.left {
  justify-content: flex-start;
}

.buttonContainer.right {
  justify-content: flex-end;
}

.buttonContainer.both {
  justify-content: space-between;
}

.buttonContainer button {
  pointer-events: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  font-weight: bold;
  font-size: large;
  color: antiquewhite;
  transition: 0.5s;
  position: relative;
}

.buttonContainer button:hover {
  background-color: #eee;
  color: #555;
  transition: 0.5s;
}

.buttonContainer .icon{
  margin: 20px;
  width: 30%;
  height: 30%;
  transition: opacity 0.3s ease;
}

.preButton {
  margin-left: 50px;
}

.nextButton {
  margin-right: 50px;
}
.stats{
  margin: -4% 10%;
  width: 80vw;
  height: 35vh;
  background-color: #181818a7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}