.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }
  
  .item {
    width: 100%;
    max-width: 850px;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 10px rgba(108, 101, 101, 1);
  }
  
  .contact {
    background-image: url("../../public/Image/login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
  
  .submitForm {
    background-color: rgba(0, 0, 0, 0.406);
    color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .inputt {
    margin: 20px 0;
  }
  
  .username,
  .password {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
  }
  
  .button {
    width: 86%;
    padding: 10px;
    background: #C23C2A;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
  